test.psd
*.bak
.DS_Store
TODO
test-files/
/timelog.txt
*.pyc
api-doc/
priv-doc/
htmlcov/
.coverage
/doc/user.xml
/doc/images/icons/
/MANIFEST
build/
dist/
annotaldLog.*
annotald.egg-info/
doc/README.asciidoc

node_modules/
bower_components/
cache/
/types/all.d.ts
/webapp/js/treedrawing/bindings.js
/webapp/js/treedrawing/bindings.js.map
/webapp/js/treedrawing/config.js
/webapp/js/treedrawing/config.js.map
/webapp/js/treedrawing/contextmenu.js
/webapp/js/treedrawing/contextmenu.js.map
/webapp/js/treedrawing/dialog.js
/webapp/js/treedrawing/dialog.js.map
/webapp/js/treedrawing/entry-points.js
/webapp/js/treedrawing/entry-points.js.map
/webapp/js/treedrawing/events.js
/webapp/js/treedrawing/events.js.map
/webapp/js/treedrawing/global.js
/webapp/js/treedrawing/global.js.map
/webapp/js/treedrawing/metadata-editor.js
/webapp/js/treedrawing/metadata-editor.js.map
/webapp/js/treedrawing/node-edit.js
/webapp/js/treedrawing/node-edit.js.map
/webapp/js/treedrawing/save.js
/webapp/js/treedrawing/save.js.map
/webapp/js/treedrawing/search.js
/webapp/js/treedrawing/search.js.map
/webapp/js/treedrawing/selection.js
/webapp/js/treedrawing/selection.js.map
/webapp/js/treedrawing/startup.js
/webapp/js/treedrawing/startup.js.map
/webapp/js/treedrawing/struc-edit.js
/webapp/js/treedrawing/struc-edit.js.map
/webapp/js/treedrawing/undo.js
/webapp/js/treedrawing/undo.js.map
/webapp/js/treedrawing/user-style.js
/webapp/js/treedrawing/user-style.js.map
/webapp/js/treedrawing/utils.js
/webapp/js/treedrawing/utils.js.map
/webapp/js/treedrawing/view.js
/webapp/js/treedrawing/view.js.map
/webapp/js/treedrawing/node-formatter.js
/webapp/js/treedrawing/node-formatter.js.map
/webapp/js/file/file.js
/webapp/js/file/local.js
