#code-editor-outer {
    width: 8in;
    margin-left: auto;
    margin-right: auto;
}
#code-editor-buttons {
    text-align: center;
    margin: 1em 0;
    padding: 1em 0;
    border-bottom: 1px dashed grey;
}
#editor {
    position: absolute;
    width: 8in;
    height: 8in;
}
